.legend-default {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.legend-default--vertical {
    transform: rotateZ(-90deg);
    position: absolute;
    width: auto;
    white-space: nowrap;
}